@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>For a better management of Cloudbass Multimedia Limited resources, this new version of Web application perform Users,
    Data and the business Processing by Create, Read, Update and Delete records.</p>
