@{
        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron">
        <img src="~/Images/Cloudbass-Logo.png" alt="..." style="margin-top:0px" height="150" width="900" />
             
    </div>

    <div class="row">


        <div class="col-md-3">
            <div class=" thumbnail">
                <div class=" panel panel-primary" style=" height:450px !important">
                    <div class=" panel-heading">
                        <h3 class=" panel-title "> Dashboard</h3>
                    </div>

                    <i class="fa fa-archive" style=" margin-top: 20px; margin-left :30%; font-size:100px; color:dodgerblue"></i>
                    <div class=" caption">
                        <h3>Jobs & Schedules</h3>
                        @*<p style="text-align :justify">
                            Here is the click event allowing you to navigate through....<br />
                        </p>*@
                        <hr />
                        <ul>
                            @*<li><a href="~/examples/grid/ajax-sourced-data.html" target="_blank">Ajax Sourced Data</a></li>*@
                            @*<li><a href="~/examples/grid/bootstrap-grid-inline-edit.html" target="_blank">Inline Editing</a></li>*@
                            <li><a href="~/examples/grid/job.html" target="_blank">Job Grids</a></li>
                            <li><a href="~/examples/grid/hasrole.html" target="_blank">Role Grids</a></li>
                            @*<li><a href="~/examples/grid/connected-jquery-grids.html" target="_blank">Connected Grids</a></li>
                            <li><a href="~/examples/grid/grouping.html" target="_blank">Grouping</a></li>*@
                        </ul>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-md-3">
            <div class=" thumbnail">
                <div class=" panel panel-primary" style=" height:450px !important">
                    <div class=" panel-heading">
                        <h3 class=" panel-title "> Dashboard</h3>
                    </div>
                    <i class="fa fa-group" style=" margin-top: 20px; margin-left :30%; font-size:100px; color:red"></i>
                    <div class=" caption">
                        <h3>Users Management</h3>
                        @*<p style="text-align :justify">
                            Here is the click event allowing you to navigate through....<br />
                        </p>*@
                        <hr />
                        <ul>
                            <li><a href="~/examples/tree/bootstrap-treeview-checkbox.html" target="_blank">Checkboxes</a></li>
                            <li><a href="~/examples/tree/treeview-drag-and-drop.html" target="_blank">Drag And Drop</a></li>
                            <li><a href="~/examples/tree/treeview-lazy-loading.html" target="_blank">Lazy Loading</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>



        <div class="col-md-3">
            <div class=" thumbnail">
                <div class=" panel panel-primary" style=" height:450px !important">
                    <div class=" panel-heading">
                        <h3 class=" panel-title "> Dashboard</h3>
                    </div>
                    <i class="	fa fa-bus" style=" margin-top: 20px; margin-left :30%; font-size:100px; color:darkblue"></i>
                    <div class=" caption">
                        <h3>Fleets Management</h3>
                        @*<p style="text-align :justify">
                            Here is the click event allowing you to navigate through....<br />
                        </p>*@
                        <hr />
                        <ul>
                            <li><a href="~/examples/tree/bootstrap-treeview-checkbox.html" target="_blank">Checkboxes</a></li>
                            <li><a href="~/examples/tree/treeview-drag-and-drop.html" target="_blank">Drag And Drop</a></li>
                            <li><a href="~/examples/tree/treeview-lazy-loading.html" target="_blank">Lazy Loading</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>


        <div class="col-md-3">
            <div class=" thumbnail">
                <div class=" panel panel-primary" style=" height:450px !important">
                    <div class=" panel-heading">
                        <h3 class=" panel-title "> Dashboard</h3>
                    </div>
                    <i class="fa fa-bed" style=" margin-top: 20px; margin-left :30%; font-size:100px; color:black"></i>
                    <div class=" caption">
                        <h3>Hotel Management</h3>
                        @*<p style="text-align :justify">
                            Here is the click event allowing you to navigate through....<br />
                        </p>*@
                        <hr />
                        <ul>
                            <li><a href="~/examples/tree/bootstrap-treeview-checkbox.html" target="_blank">Checkboxes</a></li>
                            <li><a href="~/examples/tree/treeview-drag-and-drop.html" target="_blank">Drag And Drop</a></li>
                            <li><a href="~/examples/tree/treeview-lazy-loading.html" target="_blank">Lazy Loading</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

    </div>







    