<ul @*class=" navbar-nav navbar-right"*@>
    @*<li></li>*@
    <li>@Html.ActionLink("Employee", "EmployeeD", "Home")</li>
    <li>@Html.ActionLink("Employee", "JobD", "Home")</li>
    <li>@Html.ActionLink("Employee", "ScheduleD", "Home")</li>
</ul>
